#container {
	border:0px solid black;
	width: 300px;
	margin: auto;
}

.board {
	border: 15px solid #cccc33;
	border-radius: 8px;
}

.board-cell {
	border: 0px ;
	position:relative;
	width:75px;
	height:75px;
}

.cell-class {
	display: table-cell;
	position:absolute;
	top:0px;
	left:0px;
	bottom:0px;
	right:0px;
	line-height: 75px;
	vertical-align: middle;
	text-align: center;
	border: 1px solid black;
	background: #ffff99;
	border-radius: 5px;
}

.empty {
	border: 0px ;
	background: white;
}

.button {
	height: 25px;
	border: 2px solid black;
	color: yellow;
	background: #485BB1;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 3px;
	font-family: "arial";
	font-size: 20px;
	border-radius : 5px;
}

#counter {
	float:right;
}

.ib {
	display : inline-block;
}
