body {
	background: #5e2424;
	font-family: arial;
	color: yellow;
}

#container {
	border:0px solid black;
	width: 425px;
	margin: auto;
}

#board-ctnr {
	position: relative;
}

.p1-select {
	position:absolute;
	left: 45%;
	top: 12%;
	height: 20px;
	width: 20px;
	border: 2px solid blue;
}

.p2-select {
	position:absolute;
	left: 14%;
	top: 30%;
	height: 20px;
	width: 20px;
	border: 2px solid yellow;
}

.p3-select {
	position:absolute;
	right: 14%;
	top: 30%;
	height: 20px;
	width: 20px;
	border: 2px solid green;
}

.p4-select {
	position:absolute;
	left: 14%;
	bottom: 30%;
	height: 20px;
	width: 20px;
	border: 2px solid orange;
}

.p5-select {
	position:absolute;
	right: 14%;
	bottom: 30%;
	height: 20px;
	width: 20px;
	border: 2px solid purple;
}

.p6-select {
	position:absolute;
	left: 45%;
	bottom: 12%;
	height: 20px;
	width: 20px;
	border: 2px solid red;
}


.board {
	border: 5px solid brown;
	border-radius: 8px;
	background-position: center; 
	background-size: 100% 100%;
	border-collapse: collapse;
}

.board-cell {
	border: 0px solid black ;
	position:relative;
	width:17px;
	height:25px;
}

.cell-class {
	display: table-cell;
	position:absolute;
	top:0px;
	left:0px;
	bottom:0px;
	right:0px;
	line-height: 35px;
	vertical-align: middle;
	text-align: center;
	border: 0px solid black;
	background-position: center; 
	background-size: contain;
	border-radius: 0px;
}

.cell-class-pit {
	background-image: url('../images/cell-background-pit.png');
	background-position: center; 
	background-size: 100% 100%;
}

.cell-class-empty {
	background-image: url('../images/cell-background-empty.png');
	background-position: center; 
	background-size: 100% 100%;
}

.cell-class img {
	max-width:100%;
	max-height:100%;
}

.cell-class-pit.selected {
	background-image: url('../images/cell-background-pit-selected.png');
	background-position: center; 
	background-size: 100% 100%;
}

.empty {
	border: 0px ;
}

.button {
	height: 25px;
	border: 2px solid black;
	color: yellow;
	background: #485BB1;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 3px;
	font-family: "arial";
	font-size: 20px;
	border-radius : 5px;
}

#counter {
	float:right;
}

.ib {
	display : inline-block;
}
