<!DOCTYPE html>
<html ng-app="chessApp" manifest="garbochess.appcache">
	<head>
	  <base href="/garbochess/">
	  <meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Chess - Tutor/Player</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet/less" type="text/css" href="css/style.less">
		<!-- Mobile -->
		<meta name="viewport" content="user-scalable=yes, width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<link rel="apple-touch-icon" href="icons/chess-57x57.png"/>
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="icons/chess-114x114.png" />
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="icons/chess-72x72.png" />
		<link rel="apple-touch-icon-precomposed" href="icons/chess-57x57.png" />

		<!-- Google Chrome -->
		<meta name="application-name" content="Chess - Tutor/Player"/>
		<meta name="description" content="Chess! what else."/>
		<meta name="application-url" content="http://pi-board-games.appspot.com/garbochess/index.html"/>
		<link rel="icon" href="icons/chess-32x32.png" sizes="32x32"/>
		<link rel="icon" href="icons/chess-48x48.png" sizes="48x48"/>

		<script src="js/less-1.3.1.min.js"></script>
		<style>
		</style>

		<script src="../js/jquery/1.8.2/jquery.min.js"></script>
		<script src="../js/modernizr.js"></script>
		<script src="../js/angular/1.3.0/angular.js"></script>
		<script src="../js/json/json2.js"></script>
		<script src="../js/clipboard/clipboard.min.js"></script>
		<script src="../js/clipboard/ngclipboard.min.js"></script>
		<script src="../js/json/json2.js"></script>
		<script src="js/board/tree.js"></script>        
		<script src="js/board/board-common.js"></script>        
		<script src="js/board/board.js"></script>        
		<script src="js/board/chess.js"></script>        
		<script src="js/libgarbochess.js"></script>        
		<script src="js/board/Engine.js"></script>        
		<script src="js/board/GarboChessEngine.js"></script>
		<script src="../js/ang-common/NGBoardBaseController.js"></script>
		<script src="../js/ang-common/NGOnlineGameController.js"></script>
		<script src="../js/ang-common/OnlineGameDataService.js"></script>
		<script src="js/board/GarboChessController.js"></script>
	</head>
	<body>
		<div ng-controller="chessController" id="topleveldiv">

			<div id="flex-ctnr">

			<div id="menu-ctnr">
				<select ng-model="whitePlayer" ng-options="k for k in players"
					ng-change="onPlayerChange('w')"></select>
				<select ng-model="wpStrength" ng-options="s for s in strengths"
					ng-change="onStrengthChange('w')"></select>
				<select ng-model="blackPlayer" ng-options="k for k in players"
					ng-change="onPlayerChange('b')"></select>
				<select ng-model="bpStrength" ng-options="s for s in strengths"
					ng-change="onStrengthChange('b')"></select>
				<span class="ib flipboard" ng-click="toggleFlip()" ng-class="flipClass()"></span>
				<span class="ib menu" ng-click="toggleSettingsPanel()"></span>
			</div>

			<div id="board-ctnr">
				<div ng-if="settings.d3d">
					<svg viewbox="0 0 512 512" preserveAspectRatio="none" style="background-color:#472828">
						<g stroke="black" stroke-width="1" ng-repeat="r in rarr">
							<polygon points="{{p1x(r,c)}}, {{p1y(r,c)}} {{p2x(r,c)}}, {{p2y(r,c)}}, {{p3x(r,c)}}, {{p3y(r,c)}}, {{p4x(r,c)}}, {{p4y(r,c)}}" ng-repeat="c in carr" fill="{{fillcolor(r, c)}}"/>
						</g>
						<g ng-repeat="r in rarr">
						<image x="{{pxc(r,c) - 24}}" y="{{pyc(r,c) - 116}}" width="90" height="160" href="{{img(r,c)}}" ng-repeat="c in carr"></image>
						<g/>
						<g stroke="transparent" stroke-width="0" ng-repeat="r in rarr">
							<polygon points="{{p1x(r,c)}}, {{p1y(r,c)}} {{p2x(r,c)}}, {{p2y(r,c)}}, {{p3x(r,c)}}, {{p3y(r,c)}}, {{p4x(r,c)}}, {{p4y(r,c)}}" ng-repeat="c in carr" fill="transparent" ng-mousedown="svgClick($event, r, c)" ng-mouseup="svgClick($event, r, c)""/>
						</g>
					</svg>

				</div>
				<div ng-if="!settings.d3d" ng-include="'../ang-common-templates/tmpl-board-ctnr.html'" style="display:block; position:relative"></div>

			</div>

			<div class="hint">{{getCurrentDD().hint}}</div>

			<div id="movelist-ctnr" ng-hide="editMode">
				<div ng-repeat="dd in displayDataArray" ng-class="getMoveRowClass($index)">
					<div class="mctnr" ng-click="moveClick($index)">
						<div class="mt">{{dd.moveDisplayText}}</div>
						<div class="anl">
							<svg viewbox="0 0 400 10" preserveAspectRatio="none" width="100%" height="100%" style="background-color:{{analysisOuterColor(dd.score)}}">
								<rect x="0" y="0" width="{{getScoreCellWidth(dd.score)}}" height="100%" style="fill:#F7FCC5"/>
								<line style="stroke:red;stroke-width:1" x1="200" y1="0" x2="200" y2="10"/>
							</svg>
						</div>
						<div class="vtg" ng-class="vrtnsClass(dd.variations.length)" 
								 ng-click="toggleVariations($event, dd.variations.length)">
						</div>
					</div>
					<div class="variations">
						<div class="variation" ng-repeat="vrtn in dd.variations"
							ng-click="variationClick($event, $parent.$index, vrtn)">
							{{vrtn.text}}
						</div>
					</div>

				</div>
			</div>

			<div class="edt" ng-show="editMode">
				<table border="1" class="board">
					<tr class="board-row">
						<td class="board-cell edit-cell-class" ng-click="selectEditPiece('k')"><img src="img/king-b.png"></td>
						<td class="board-cell edit-cell-class" ng-click="selectEditPiece('q')"><img src="img/queen-b.png"></td> 
						<td class="board-cell edit-cell-class" ng-click="selectEditPiece('r')"><img src="img/rook-b.png"></td>
						<td class="board-cell edit-cell-class" ng-click="selectEditPiece('b')"><img src="img/bishop-b.png"></td>
						<td class="board-cell edit-cell-class" ng-click="selectEditPiece('n')"><img src="img/knight-b.png"></td>
						<td class="board-cell edit-cell-class" ng-click="selectEditPiece('p')"><img src="img/pawn-b.png"></td>
						<td class="board-cell edit-cell-class" ng-click="selectEditPiece(' ')"><img src="img/blank.png"></td>
					</tr>
					<tr>
						<td class="board-cell edit-cell-class" ng-click="selectEditPiece('K')"><img src="img/king-w.png"></td>
						<td class="board-cell edit-cell-class" ng-click="selectEditPiece('Q')"><img src="img/queen-w.png"></td> 
						<td class="board-cell edit-cell-class" ng-click="selectEditPiece('R')"><img src="img/rook-w.png"></td>
						<td class="board-cell edit-cell-class" ng-click="selectEditPiece('B')"><img src="img/bishop-w.png"></td>
						<td class="board-cell edit-cell-class" ng-click="selectEditPiece('N')"><img src="img/knight-w.png"></td>
						<td class="board-cell edit-cell-class" ng-click="selectEditPiece('P')"><img src="img/pawn-w.png"></td>
						<td class="board-cell edit-cell-class" ng-click="selectEditPiece(' ')"><img src="img/blank.png"></td>
					</tr>
					<tr>
						<td class="board-cell edit-cell-class">k<input type="checkbox" ng-model="edit.castle[0]"></td>
						<td class="board-cell edit-cell-class">q<input type="checkbox" ng-model="edit.castle[1]"></td> 
						<td class="board-cell edit-cell-class">K<input type="checkbox" ng-model="edit.castle[2]"></td>
						<td class="board-cell edit-cell-class">Q<input type="checkbox" ng-model="edit.castle[3]"></td>
						<td class="board-cell edit-cell-class" ng-click="toggleEditToMove()">{{edit.toMove}}</td>
						<td class="board-cell edit-cell-class" colspan="2"></td>
					</tr>
					<tr>
						<td class="board-cell edit-cell-class" colspan="7">
							<button ng-click="loadEdit()">Load</button>
							<button ng-click="cancelEdit()">Cancel</button>
							<button ng-click="clearEdit()">Clear</button>
						</td>
					</tr>
				</table>              
			</div>
			</div>
			
			<div class="settings-panel" ng-show="showSettingsPanel">
				<div class="setting-box">
					<div class="btn ib" ng-click="toggleSettingsPanel()">Close</div>

					<div style="height: 20px"></div>

					<div>FEN</div>
					<div><textarea ng-model="settings.fen" rows="2"></textarea></div>
					<div class="ib btn" ng-click="loadFen(settings.fen)">Load</div>
					<div class="ib btn" ng-click="showFen()">Get</div>
					<div class="ib btn" ngclipboard data-clipboard-text="{{settings.fen}}"><img src="../images/common/copy.png"></img></div>
					
					<div style="height: 20px"></div>
					
					<div>PGN</div>			
					<div><textarea ng-model="settings.pgn" rows="5"></textarea></div>
					<div class="ib btn" ng-click="loadPgn(settings.pgn)">Load</div>
					<div class="ib btn" ng-click="showPgn()">Get</div>
					<div class="ib btn" ngclipboard data-clipboard-text="{{settings.pgn}}"><img src="../images/common/copy.png"></img></div>
								
					<div style="height: 20px"></div>
													
					<div class="btn ib" ng-click="setEdit()">Edit Board</div>
					
					<div style="height: 20px"></div>

					<div class="ib btn" ng-click="newGame()">New Game</div>
					<div class="ib btn" ng-click="newOnlineGame()">New Online Game</div>
					<div class="ib btn" ngclipboard data-clipboard-text="{{url}}"><img src="../images/common/copy.png"></img></div>

					<div style="height: 20px"></div>
					
					<div>CPU Mistakes <input ng-model="settings.mistakePercent" size="3"> %</div>

					<div style="height: 20px"></div>
					
					<div>Analyzer Strength <select ng-model="settings.anStrength" ng-options="s for s in anStrengths"
					ng-change="onStrengthChange('an')"></select>

					<div style="height: 20px"></div>

					<div class="ib btn" ng-click="toggle3d()">{{settings.d3d ? '3D' : '2D'}}</div>
</div>
				</div>											
			</div>
		</div>	
	</body>
</html> 
